@import "./main.scss";
.mainContainer {
    .blogContainer {
        overflow: scroll !important;
        overflow-x: hidden !important;
        scrollbar-width: thin;
        scrollbar-color: $accent #272728;
    }
}