@import "./main.scss";
.mainContainer {
    .blogContainer {
        overflow: scroll !important;
        overflow-x: hidden !important;
        scrollbar-width: thin;
        scrollbar-color: $accent #272728;
    }
    .title {
        margin-left: 11vw;
    }
}

@media screen and (max-width: 667px) {
    .mainContainer {
        display: flex !important;
        flex-direction: column !important;
    }
}